# Scaling Data - Standart Scaler

## Import Package

In [30]:
#Import library untuk data preparation dan visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# import warnings for ignore the warnings
import warnings 
warnings.filterwarnings("ignore")

# import pickle and json file for columns and model file
import pickle
import json
import joblib

from sklearn.preprocessing import StandardScaler

# Read Data

In [31]:
X_rus = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/x_rus.pkl")
y_rus = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_rus.pkl")

X_ros = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/x_ros.pkl")
y_ros = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_ros.pkl")

X_sm = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/x_sm.pkl")
y_sm = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_sm.pkl")

#Read data X_train dan y_train hasil dari data preparation
X_train = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/X_train_ohebalance.pkl")
y_train = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_train_ohebalance.pkl")

#Read data X_valid dan y_valid hasil dari data preparation
X_valid = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/x_valid_feng.pkl")
y_valid = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_valid_feng.pkl")

#Read data X_test dan y_test hasil dari data preparation
X_test = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/x_test_feng.pkl")
y_test = joblib.load("C:/Users/HALAL/Final Project ML Process/dataset/3 - final/1 - Encode - One Hot Encoding dan Balancing Data/y_test_feng.pkl")

# Original Data Unbalance

## Train

In [32]:
column_sisa = X_train.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_ori = X_train[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [33]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_ori)

StandardScaler()

In [34]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_ori)

StandardScaler()

In [35]:
# Transform data Train
X_train_clean = scaler.transform(column_scaler_ori)
X_train_clean = pd.DataFrame(X_train_clean,
                             columns = column_scaler_ori.columns,
                             index = column_scaler_ori.index)

In [36]:
X_train_clean = pd.concat([X_train_clean, column_sisa], axis = 1)
#Sanity check pada data X_train_clean
X_train_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
3144,-0.022212,1.513191,-1.388923,1.417861,0.078499,1,1,0,0,0,1,0,1
9939,0.443877,1.701664,1.375004,0.618031,-1.219344,2,1,1,0,0,1,1,0
7925,-0.664380,-0.560005,0.684023,1.187238,-1.219344,2,1,1,0,0,1,1,0
309,-2.197296,-0.748478,1.029514,-0.955620,0.031105,1,0,1,0,1,0,0,1
9415,1.220693,0.382357,-1.043432,-1.403687,0.842402,2,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9785,-2.021218,-1.125423,-0.006959,-0.506665,1.266908,2,0,0,1,0,0,1,0
7763,-0.374369,-0.277297,-1.388923,-0.462285,-0.516675,1,1,1,0,0,1,1,0
5218,0.361017,-1.785076,-0.352450,-1.064143,0.450926,2,0,1,1,0,0,0,1
1346,-0.074000,-0.842714,-0.006959,1.141245,0.287022,1,1,1,1,0,0,0,1
3582,0.371374,-0.371533,-0.352450,-1.583244,-1.219344,1,0,1,1,0,0,0,1

## Test

In [37]:
column_sisa_test = X_test.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_test = X_test[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [38]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_test)

StandardScaler()

In [39]:
# Transform data Train
X_test_clean = scaler.transform(column_scaler_test)
X_test_clean = pd.DataFrame(X_test_clean,
                             columns = column_scaler_test.columns,
                             index = column_scaler_test.index)

In [40]:
X_test_clean = pd.concat([X_test_clean, column_sisa_test], axis = 1)
#Sanity check pada data X_train_clean
X_test_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
257,0.211913,-0.465864,0.329154,0.968041,-0.634949,2,0,0,0,1,0,1,0
1173,-1.783439,-0.273975,-0.708459,-0.974180,0.257126,2,0,1,0,0,1,1,0
9524,2.062524,-0.082086,-0.016717,-0.395770,1.137814,1,0,1,0,1,0,0,1
9830,-0.594499,-0.657753,0.329154,0.473262,0.367209,1,0,1,1,0,0,0,1
6006,-1.256170,-0.753698,-0.016717,-1.287966,-1.238338,2,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,-0.904657,-0.465864,0.329154,0.890020,1.025345,1,1,1,1,0,0,1,0
5830,0.346315,-0.178030,-0.362588,-0.844914,1.003748,2,1,1,0,1,0,0,1
1425,0.780536,0.301692,-1.054330,1.284401,0.534131,1,1,0,1,0,0,1,0
4376,-0.377388,-0.465864,-0.016717,1.464757,-1.238338,2,0,1,1,0,0,1,0
7912,-0.087907,-0.369919,-1.054330,0.366977,0.917701,1,1,0,1,0,0,0,1

## Valid

In [41]:
column_sisa_valid = X_valid.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_valid = X_valid[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [42]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_valid)

StandardScaler()

In [43]:
# Transform data Train
X_valid_clean = scaler.transform(column_scaler_valid)
X_valid_clean = pd.DataFrame(X_valid_clean,
                             columns = column_scaler_valid.columns,
                             index = column_scaler_valid.index)

In [44]:
X_valid_clean = pd.concat([X_valid_clean, column_sisa_valid], axis = 1)
#Sanity check pada data X_train_clean
X_valid_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
135,-0.657235,1.128810,0.028964,-1.132741,1.107551,2,1,1,0,1,0,1,0
7945,1.093766,0.620337,1.071658,-0.004326,-1.245989,2,1,1,1,0,0,1,0
7733,0.424266,1.942367,-1.361296,0.054935,1.080217,1,0,0,0,1,0,1,0
8785,2.031066,-1.210166,-1.361296,-1.284975,0.399081,2,1,1,0,1,0,0,1
555,-0.646935,1.230505,-0.666166,1.621902,1.271086,3,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.578766,0.620337,-1.013731,1.112885,-1.245989,2,1,0,0,0,1,1,0
8507,0.001966,-0.091525,0.028964,-0.174990,0.610078,2,1,1,0,1,0,1,0
819,0.692066,0.416948,0.376529,1.281947,0.992696,2,0,1,1,0,0,1,0
1967,-0.966235,-1.413555,0.028964,1.118123,-1.245989,2,1,1,0,0,1,0,1
4196,-0.286434,1.840673,0.724093,-0.270068,-1.245989,1,0,0,0,0,1,1,0

## Random Under Sampling

In [45]:
column_sisa_rus = X_rus.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_rus = X_rus[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [46]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_rus)

StandardScaler()

In [47]:
# Transform data Train
X_rus_clean = scaler.transform(column_scaler_rus)
X_rus_clean = pd.DataFrame(X_rus_clean,
                           columns = column_scaler_rus.columns,\
                           index = column_scaler_rus.index)

In [48]:
X_rus_clean = pd.concat([X_rus_clean, column_sisa_rus], axis = 1)
#Sanity check pada data X_train_clean
X_rus_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,-1.100615,-0.738983,0.005515,0.468755,-1.330932,2,0,1,1,0,0,1,0
1,0.655737,-0.738983,1.722432,1.616094,0.595297,2,1,1,1,0,0,0,1
2,-1.029135,-0.832194,-0.337868,-0.091696,-1.330932,1,0,1,0,0,1,1,0
3,0.553623,0.286337,-1.024635,-1.445973,-0.374033,1,0,1,1,0,0,1,0
4,0.563835,-0.179718,-1.024635,-0.304102,-1.330932,2,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2859,0.175803,1.032025,-1.711402,0.775405,0.887852,1,0,1,0,0,1,0,1
2860,-2.754853,0.472759,0.348899,0.996996,-1.330932,1,0,1,1,0,0,1,0
2861,0.216649,2.803034,-0.337868,-0.097021,0.903514,1,1,0,0,0,1,0,1
2862,-0.620682,1.311658,1.722432,0.399159,0.401390,3,1,1,1,0,0,0,1
2863,-0.528779,1.404869,0.692282,-1.283508,-1.330932,1,0,1,1,0,0,1,0

## Random Over Sampling

In [49]:
column_sisa_ros = X_ros.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_ros = X_ros[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [50]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_ros)

StandardScaler()

In [51]:
# Transform data Train
X_ros_clean = scaler.transform(column_scaler_ros)
X_ros_clean = pd.DataFrame(X_ros_clean,
                           columns = column_scaler_ros.columns,\
                           index = column_scaler_ros.index)

In [52]:
X_ros_clean = pd.concat([X_ros_clean, column_sisa_ros], axis = 1)
#Sanity check pada data X_train_clean
X_ros_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.003435,1.306988,-1.368240,1.409191,-0.011981,1,1,0,0,0,1,0,1
1,0.463506,1.493860,1.378166,0.610455,-1.336548,2,1,1,0,0,1,1,0
2,-0.630442,-0.748604,0.691565,1.178883,-1.336548,2,1,1,0,0,1,1,0
3,-2.143566,-0.935476,1.034866,-0.961045,-0.060350,1,0,1,0,1,0,0,1
4,1.230292,0.185756,-1.024939,-1.408500,0.767652,2,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11131,-0.773575,0.933244,1.034866,1.608396,0.254658,3,1,1,0,1,0,0,1
11132,-2.378714,0.466064,1.378166,1.358060,0.860213,3,0,0,1,0,0,0,1
11133,1.608573,0.372628,1.378166,1.546180,0.561275,1,0,1,0,1,0,1,0
11134,0.831564,0.466064,0.004963,0.064106,0.581646,1,0,1,0,1,0,0,1
11135,1.608573,0.466064,0.348264,1.081395,0.584652,3,0,1,1,0,0,0,1

## SMOTE

In [53]:
column_sisa_sm = X_sm.drop(columns = ["CreditScore","Age","Tenure","EstimatedSalary","Balance"])
column_scaler_sm = X_sm[["CreditScore","Age","Tenure","EstimatedSalary","Balance"]]

In [54]:
# Buat & Fit scaler
scaler = StandardScaler()
scaler.fit(column_scaler_sm)

StandardScaler()

In [55]:
# Transform data Train
X_sm_clean = scaler.transform(column_scaler_sm)
X_sm_clean = pd.DataFrame(X_sm_clean,
                           columns = column_scaler_sm.columns,\
                           index = column_scaler_sm.index)

In [56]:
X_sm_clean = pd.concat([X_sm_clean, column_sisa_sm], axis = 1)
#Sanity check pada data X_train_clean
X_sm_clean

,CreditScore,Age,Tenure,EstimatedSalary,Balance,NumOfProducts,IsActiveMember,HasCrCard,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.005830,1.402566,-1.408523,1.418607,-0.022073,1,1,0,0,0,1,0,1
1,0.499235,1.601247,1.519890,0.617282,-1.347378,2,1,1,0,0,1,1,0
2,-0.673974,-0.782920,0.787787,1.187554,-1.347378,2,1,1,0,0,1,1,0
3,-2.296730,-0.981601,1.153838,-0.959313,-0.070469,1,0,1,0,1,0,0,1
4,1.321578,0.210483,-1.042471,-1.408218,0.757994,2,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11131,0.365275,1.104545,-1.042471,-1.699851,1.099824,1,0,0,0,1,0,1,0
11132,-0.980921,1.700587,-1.042471,1.031187,1.371110,1,0,1,1,0,0,0,0
11133,1.424574,0.309823,-0.676420,-1.238966,0.445339,1,1,1,0,0,0,0,0
11134,-1.196345,0.905865,-1.408523,0.071839,-1.347378,2,1,1,1,0,0,0,0
11135,1.369129,1.402566,1.153838,1.401626,0.180807,1,0,1,0,1,0,1,0

## Save Data

In [57]:
joblib.dump(X_train_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_train_clean.pkl") 
joblib.dump(y_train, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_train.pkl")

joblib.dump(X_rus_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_rus_clean.pkl")
joblib.dump(y_rus, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_rus.pkl")

joblib.dump(X_ros_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_ros_clean.pkl")
joblib.dump(y_ros, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_ros.pkl")

joblib.dump(X_sm_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_sm_clean.pkl")
joblib.dump(y_sm, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_sm.pkl")

joblib.dump(X_valid_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_valid_clean.pkl")
joblib.dump(y_valid, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_valid.pkl")

joblib.dump(X_test_clean, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/X_test_clean.pkl")
joblib.dump(y_test, "C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_test.pkl")

['C:/Users/HALAL/Final Project ML Process/dataset/3 - final/2 - Scaling Data - Standart Scaler/y_test.pkl']